{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="masthead-heading text-uppercase mb-0">
        Studenten overzicht
    </h1>
    <a class="btn btn-outline-dark" href="{{ path('app_add_student') }}">Toevoegen</a>
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>Voornaam</th>
            <th>Achternaam</th>
            <th>Email</th>
            <th>Leeftijd</th>
            <th>Klas</th>
            <th>Acties</th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.firstName }}</td>
                <td>{{ student.lastName }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.age }}</td>
                <td>{{ student.schoolGroup.name }}</td>
                <td>
                    <a class="btn btn-outline-secondary" href="{{ path('app_show_student', {'id': student.id }) }}" role="button">Toon Student</a>
                    <a class="btn btn-outline-warning" href="{{ path('app_update_student', {'id': student.id }) }}" role="button">Wijzig Student</a>
                    {% if is_granted("ROLE_ADMIN") %}
                    <a class="btn btn-outline-danger" href="{{ path('app_delete_student', {'id': student.id }) }}" role="button">Uitschrijven Student</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
